.founder {
    min-height: 430px;
    padding: 136px 0;
    background: url(../../image/founderbgcolor.png) center center / cover no-repeat;
    margin-top: 16px;
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 43px;
        letter-spacing: 0.5px;
        color: #1B1B1B;
        text-align: right;
    }
    &__descr {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #666666;
        margin-left: 550px;
        width: 349px;
        margin-top: 33px;
    }
    &__link {
        text-align: left;
        margin-top: 12px;
        a {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1B1B1B;
        }
    }
}