.promo {
    padding: 201px 0 288px 0;
    min-height: 729px;
    background: url(../../image/bgcolor2.png) center center / cover no-repeat;
    margin-top: 16px;
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 43px;
        text-align: center;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 556px;
        margin: 0 auto;
    }
    &__button {
        display: flex;
        justify-content: center;
    }
}